.wrapper {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 10px;
  .main {
    width: 100%;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 1px solid rgb(206, 206, 206);
    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgb(0, 0, 0, 0.3);
      & .picWrapper {
        .price {
          transform: scale(1.1);
        }
      }
    }
    .sale {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      background-color: rgb(59, 186, 202);
      color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(50%, -50%);
      z-index: 1;
    }
    .picWrapper {
      position: relative;
      transform: translateY(-6px);

      .pic {
        object-fit: cover;
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: auto;
      }
      .price {
        position: absolute;
        left: 0;
        transition: 0.2s;
        bottom: 0;
        margin: 12px;
        margin-left: 0;
        color: white;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        h1 {
          font-size: 28px;
        }
        h2 {
          margin-right: 6px;
          font-size: 20px;
          text-decoration: line-through;
        }
      }
    }
  }
}
